{
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "extends": "eslint:recommended",
    "globals": {
        "document": true,
        "console": true,
        "process": true,
        "window": true,
        "fetch": true,
        "describe": true,
        "expect": true,
        "fail": true,
        "it": true,
        "Event": true,
        "VERSION": true,
        "async": true
    },
    "rules": {
        "semi": 2,
        "no-console": "off"
    },
    "env": {
        "es6": true,
        "node": true
    }
}